<section id="company-services" class="padding-large">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 pb-3">
          <div class="icon-box d-flex">
            <div class="pe-3 pb-3">
              <ng-icon name="featherTruck" class="price-tag" size="20px"></ng-icon>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
              <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-3">
          <div class="icon-box d-flex">
            <div class=" pe-3 pb-3">
              <ng-icon name="featherAward" size="20px"></ng-icon>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">Quality guarantee</h3>
              <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-3">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
                <ng-icon name="featherGift" class="price-tag " size="20px" ></ng-icon>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
              <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-3">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
              <ng-icon name="featherShield" class="price-tag" size="20px"></ng-icon>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">100% secure payment</h3>
              <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  