<app-navbar (isSearchPopupVisible)="openSearchPopup()"></app-navbar>

<!--company-services-->
<app-company-services></app-company-services>
<!--company-services-->
<div class="container d-flex flex-column align-items-end ">
  <a class="text-end mx-5 direction "> Go To Shop >></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="card" style="width: 18rem;">
          <div  class="card-img-top  wallpaper  d-flex justify-content-center align-items-center">
            <a href="#" class="btn btn-medium btn-dark text-uppercase btn-rounded-none visible">Add To Cart <ng-icon name="featherShoppingCart" color="#fff"></ng-icon></a>
          </div>
          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">1100$</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="card" style="width: 18rem;">
          <div  class="card-img-top  wallpaper  d-flex justify-content-center align-items-center">
            <a href="#" class="btn btn-medium btn-dark text-uppercase btn-rounded-none visible">Add To Cart <ng-icon name="featherShoppingCart" color="#fff"></ng-icon></a>
          </div>
          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">1100$</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="card" style="width: 18rem;">
          <div  class="card-img-top wallpaper d-flex justify-content-center align-items-center">
            <a href="#" class="btn btn-medium btn-dark text-uppercase btn-rounded-none visible">Add To Cart <ng-icon name="featherShoppingCart" color="#fff"></ng-icon></a>
          </div>
          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">1100$</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="card" style="width: 18rem;">
          <div  class="card-img-top  wallpaper  d-flex justify-content-center align-items-center">
            <a href="#" class="btn btn-medium btn-dark text-uppercase btn-rounded-none visible">Add To Cart <ng-icon name="featherShoppingCart" class="search" color="#fffff"></ng-icon></a>
          </div>
          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">1100$</p>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>


<div class="w-75 p-3 review-item text-center mx-auto mt-5 mb-5">
  <blockquote>“A blog is a digital publication that can complement a website or exist independently. A blog may include articles, short posts, listicles, infographics, videos, and other digital content.”</blockquote>
  <div class="rating">
    <ng-icon name="featherStar" class="icon-review star-fill"></ng-icon>
    <ng-icon name="featherStar" class="icon-review star-fill"></ng-icon>
    <ng-icon name="featherStar" class="icon-review star-fill"></ng-icon>
    <ng-icon name="featherStar" class="icon-review star-half"></ng-icon>
    <ng-icon name="featherStar" class="icon-review star-empty"></ng-icon>
  </div>
  <div class="author-detail">
    <div class="name text-dark text-uppercase pt-2">Jennie Rose</div>
  </div>
</div>

<app-footer></app-footer>


<!-- Search Popup -->

<app-search-dialogue
  [isSearchPopupVisible]="isSearchPopupVisible"
  (closePopup)="closeSearchPopup()">
</app-search-dialogue>